name: Train and Publish Model

on:
  workflow_dispatch:

jobs:

  test-train-docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.8"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        pip install -e .
    - name: Pytest
      run: |
        pytest
    - name: Train
      env:
        EPOCHS: 1
      run: |
        chmod 777 train.sh
        ./train.sh $EPOCHS
    - name: Docker Build and Push
      uses: elgohr/Publish-Docker-Github-Action@v4
      with:
        name: lequan2902/vaegan
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
